/*
Aqui unos ejemplos para colocar las fonts que queramos,

La idea es guardarlas en una carpeta aparte
en estos ejemplos, [ fonts ]
solo que está una carpeta atás, osea, [ .. ]
[ ../fonts/ ]
*/
@font-face{
	font-family: 'Cloud';
	src: url('../fonts/Cloud.ttf')
		format("opentype");
}
@font-face{
	font-family: 'couriertxt';
	src: url('../fonts/COURIERTXT.ttf')
		format("opentype");
}
@font-face{
    font-family: "Times Pixelated 16";
    font-style:normal;
    font-weight:normal;
    src:url('../font/Times16.woff') format("woff");
}